/* Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
}

/* Navbar */

.navbar {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-icon.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.dropdown-menu {
  position: absolute;
  top: calc(8% + 10px);
  left: 20px;
  background-color: #f8f8f8;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-top: 0;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-menu li:last-child {
  margin-bottom: 0;
}

.dropdown-menu a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 10px;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #e6e6e6;
}

.navbar-option {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 10px 15px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  
  
}
.navbar-container {
  display: flex;
  align-items: center;
}


.navbar-option:hover {
  background-color: #e6e6e6;
}

/* About */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.skills {
  font-weight: bold;
  margin-bottom: 10px;
}

.project-list {
  list-style-type: disc;
  margin-left: 20px;
}

.project-list li {
  margin-bottom: 5px;
}

.highlights {
  margin-top: 20px;
}

.highlight-item {
  margin-bottom: 10px;
}

/* Footer */

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

/* Note */

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

/* Form */

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.container-about-two {
  display: flex;
  flex-direction: row;
}

.sidebar-about-two {
  
  width: 30%;
  padding: 20px;
  background-color: #f1f1f1;
}

.photo {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.sidebar-info {
  margin-top: 20px;
}

.sidebar-name {
  font-size: 24px;
  font-weight: bold;
}

.sidebar-title {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

.sidebar-contact-info {
  margin-top: 20px;
  font-size: 14px;
}

.sidebar-contact-info a {
  text-decoration: none;
  color: #0645ad;
}

.content-about-two {
  width: 70%;
  padding: 20px;
  background-color: #fff;
}

.section-about-two {
  margin-bottom: 30px;
}

.section-title-about-two {
  font-size: 20px;
  font-weight: bold;
}

.section-content-about-two {
  margin-top: 10px;
}

.education-description-about-two,
.language-description-about-two {
  font-size: 14px;
  line-height: 1.5;
}

.skills-list-about-two,
.project-list-about-two,
.interests-list-about-two {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
}

.skills-list-about-two li,
.project-list-about-two li,
.interests-list-about-two li {
  margin-bottom: 5px;
}

/* Responsive CSS for mobile devices */

@media (max-width: 768px) {
  .container-about-two {
    flex-direction: column;
  }

  .sidebar-about-two,
  .content-about-two {
    width: 100%;

  }
  .sidebar-info {
    text-align: center;
  }
  .photo {
    display: block;
    margin: 0 auto;
  }
  
}
